<html>
	<body>
		<p style="font-family: Courier New">
			Dear {{ staff_name }},<br>
			<br>
			Please be reminded to <b>renew your
			qualification(s) below before the corresponding
			expiry date(s)</b>.
		</p>
		{{ email_table }}<br>
		<p style="font-family: Courier New">
			Notes:<br>
			(1) Please handle your renewal of the above
			qualification(s) as soon as
			possible (e.g., by CBT, CBE, Oral Exam, etc.).
			If you have handled all your renewal,
			you can ignore this message.<br>
			(2) If you are not certain about how to renew
			your qualification(s) or have any questions
			about your training and qualification, please
			do not hesitate to contact me directly.
			<br>
			<br>
			Thank you for your attention.<br>
			<br>
			<br>
		</p>
		<p style="font-family: Courier New">
			Regards,<br>
			<br>
			<b>{{ admin_name }}</b><br>
			{{ admin_job_title }}<br>
			{{ admin_org_unit }}<br>
			{{ admin_business_unit }}<br>
			{{ admin_company }}<br>
			<a href="mailto:{{ admin_email }}">{{ admin_email }}</a><br>
			<br>
			<img src="cid:logo" width="111" height="42"/>
			<br>
			<br>
			<a href="{{ corp_link }}" style="font-size:10px">{{ corp_link }}</a>
		</p>
	</body>
</html>
